<query-editor-row query-ctrl="ctrl" class="generic-datasource-query-row" has-text-edit-mode="true">
  <div class="gf-form-inline">
    <div class="gf-form">
      <label class="gf-form-label width-2">N</label>
      <input type="text" class="gf-form-input width-6 ng-valid ng-empty ng-dirty ng-valid-parse ng-touched" ng-model="ctrl.target.N" data-placement="right" spellcheck="false" placeholder="10" data-min-length="1" data-items="100" ng-model-onblur="" ng-change="ctrl.refreshMetricData()">
      <info-popover mode="right-absolute" class="gf-form-help-icon gf-form-help-icon--right-absolute drop-help drop-hide-out-of-bounds drop-target drop-element-attached-middle drop-element-attached-left drop-target-attached-middle drop-target-attached-right"><i class="fa fa-info-circle"></i></info-popover>
    </div>

    <div class="gf-form">
      <label class="gf-form-label width-2">nodeCriteria</label>
      <input type="text" class="gf-form-input width-6 ng-valid ng-empty ng-dirty ng-valid-parse ng-touched" ng-model="ctrl.target.nodeCriteria" data-placement="right" spellcheck="false" placeholder="10" data-min-length="1" data-items="100" ng-model-onblur="" ng-change="ctrl.refreshMetricData()">
      <info-popover mode="right-absolute" class="gf-form-help-icon gf-form-help-icon--right-absolute drop-help drop-hide-out-of-bounds drop-target drop-element-attached-middle drop-element-attached-left drop-target-attached-middle drop-target-attached-right"><i class="fa fa-info-circle"></i></info-popover>
    </div>

    <div class="gf-form">
      <label class="gf-form-label width-2">interfaceId</label>
      <input type="text" class="gf-form-input width-6 ng-valid ng-empty ng-dirty ng-valid-parse ng-touched" ng-model="ctrl.target.interfaceId" data-placement="right" spellcheck="false" placeholder="10" data-min-length="1" data-items="100" ng-model-onblur="" ng-change="ctrl.refreshMetricData()">
      <info-popover mode="right-absolute" class="gf-form-help-icon gf-form-help-icon--right-absolute drop-help drop-hide-out-of-bounds drop-target drop-element-attached-middle drop-element-attached-left drop-target-attached-middle drop-target-attached-right"><i class="fa fa-info-circle"></i></info-popover>
    </div>
    <div class="gf-form gf-form--grow">
      <div class="gf-form-label gf-form-label--grow"></div>
    </div>
  </div>
</query-editor-row>
